body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080016;
    color: #8b2da5;
    font-size: 50px;
    font-weight: bolder;

}

.main{
    text-align: center;
}

.date{
    margin: 15px;
    font-weight: lighter;
    font-size: xx-large;
}

#pm{
    text-transform: uppercase;
    font-size: 40px;
}